<div id="san-saru" class="san-saru-info">
  <div class="title-element">
    <p>No queremos elegir arbitrariamente los participantes, <br />para eso, hemos creado un método más horizontal, paraticipativo y descentralizado:</p> 
    <h1>El método "San Saru"</h1>
  </div>
  <div class="content-element">
    <div class="content-element-opacity">
      <%= image_tag("proceso-san-saru.png", :alt => "Proceso San Saru", :class => "san-saru-process-img") %>
    </div>
  </div>
</div>