<h2 class="text-center">Inscripción San Saru</h2>
<div>
  <p class="text-center">El Agile Open Camp cuenta con una cantidad de lugares limitados, 80 en este AOC Colombia 2018.
    El evento se llevará a cabo los días 13, 14, 15 y 16 de septiembre en el hotel Recinto Quirama, muy cerca de Medellín.
    Como no queremos ser los organizadores los que seleccionemos quienes participan y quienes no, preferimos un enfoque más horizontal,
    participativo y descentralizado. Así que creamos un método mediante el cuál se hará una elección de postulantes
    distribuida entre todos los participantes al que llamamos método "San Saru".
    <br>
  </p>

  <p class="text-center"><strong>Debajo te contamos más en detalle de qué se trata y por qué lo hicimos así, el cuento corto... tienes que postularte completando tus datos usando el botón INSCRÍBETE AHORA que está debajo de este párrafo, en unos días comenzaremos el proceso de selección, si eres elegido te enviaremos un email con las instrucciones, deberás pagar 50usd como seña (el précio máximo será 250u$d pero si conseguimos más sponsors disminurá, esperamos que no cueste más de 150usd) y por último, si aún hay lugares disponibles podrás elegir a otros participantes.
  </strong></p>

  <div class="card border-warning">
    <div class="card-body text-warning">
      <p class="card-text text-center"><strong>Importante: </strong>El AOC es un evento sin fines de lucro, todo lo que se recauda se utiliza pagar los costos del evento, incluso los organizadores pagan lo mismo que el resto de participantes.</p>
    </div>
  </div>
  <br>

  <div style="text-align: center;">
    <%= button_to "Inscríbete", new_user_registration_path, :class => 'btn btn-warning btn-lg btn-block', :method => :get %>
  </div>

  <br><br>

  <p>
    <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">¿Por qué se llama san saru?</button>
  </p>

  <div class="collapse" id="collapseExample" style="">
    <div class="card card-body">
      <h3>¿Por qué se llama san saru?</h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <div style="text-align:center; ">
                <img style="width: 90%" alt="" class="ut-animate-image animated fadeIn" data-effecttype="image" data-effect="fadeIn" src="http://www.agileopencamp.com.ar/wp-content/uploads/2013/10/sabios-730x301.jpg">
              </div>
              <p>San saru es un término japonés que se podría traducir como “Los tres monos sabios” y representado
                por la imagen anterior. El concepto tiene varias interpretaciones. La que nos gusta y la que
                nos llevó a elegir este nombre para el método es la siguiente: Cuenta la leyenda que fueron enviados
                por los dioses para delatar y castigar las malas acciones de los humanos. Pero estos monos tenían
                algunas limitaciones.
              </p>

              <p>
              </p><ul>
              <li>
                Kikazaru, el mono sordo, era el encargado de utilizar el sentido de la vista para observar a quienes realizaban malas acciones
                y comunicárselo a Mizaru, mediante la voz.
              </li>
              <li>Mizaru, era el mono ciego. No necesitaba su sentido de la vista, puesto que tan sólo se encargaba
                de transmitir al tercer mono, Iwazaru, los mensajes que le pasaba Kikazaru.
              </li>
              <li>
                Iwazaru, el tercero de los tres monos, era el mono mudo. Iwazaru escuchaba los mensajes transmitidos por Mizaru para decidir
                la pena de los dioses que le caería al desafortunado humano que lo mereciese y observar
                que se cumpliese.
              </li>
            </ul>
              <p></p>

              <p>Colocados los tres monos en función de sus habilidades y de sus discapacidades, obtenemos un mono
                que ve, escucha y habla. Los monos juntos y bien organizados pueden alcanzar metas que, sin duda
                alguna, no lograrían por separado. Existen varias posibilidades de colocar a los tres monos.
                Todas ellas, excepto una, son situaciones de comunicación fallida, de asistencia colaborativa
                imposible. La que funciona es: primero el mono sordo, que ve y le explica al segundo lo que ve;
                el segundo, que no necesita ver, pues solo necesita escuchar lo que le dice el primero y transmitírselo
                al tercero, que no necesita hablar, sino solo escuchar, ver, decidir lo que mejor convenga y
                velar por su cumplimiento.
              </p>

              <div class="card border-info">

                <div class="card-body text-info text-center">

                  ESTA INTERPRETACIÓN NOS EVOCA A ACEPTAR DISCAPACIDADES PROPIAS Y AJENAS, COLABORAR, FORMAR EQUIPOS MULTIFUNCIONALES PARA
                  LOGRAR EL ÉXITO. ¿LES SUENA FAMILIAR?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div>


  <br><h3 class="text-center"> ¿Cómo funciona?</h3>
  <hr class="dark">
  <div class="row">
    <div class="col-sm-12">
      <p>El proceso consta de tres etapas:</p>
      <ul>
        <li style="padding-bottom: 20px">
          <strong>Postulación: </strong>Los interesados en participar nos cuentan quiénes son, a qué se dedican, su relación
          con la agilidad, que ideas pueden aportar al evento y qué esperan llevarse completando un formulario.</li>
        <li style="padding-bottom: 20px">
          <strong>Selección: </strong>Mauro Strione, Camilo Velasquez y Juan Daza seleccionarán, cada uno, a dos postulados
          para participar del evento. Cada seleccionado deberá elegir otros dos postulantes y asi sucesivamente.
          Serán informados oportunamente y se les indicará cómo proceder.</li>
        <li style="padding-bottom: 20px">
          <strong>Inscripción: </strong>Los participantes seleccionados deben hacer efectiva su inscripción una vez sean notificados que han sido seleccionados abonando la seña de 50usd (ver abajo “Costo
          de inscripción”). </li>
      </ul>
    </div>
  </div>
  <br>

  <div class="collapse" id="collapseExample" style="">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <h3 class="text-center"> Costo de inscripción</h3>
  <hr class="dark">
  <div class="card border-warning">
    <div class="card-body text-warning">
      <p class="card-text text-center"><strong>Importante: </strong>¡Para postularte no hay que pagar nada! Deberás pagar una seña de 50usd una vez seas seleccionado.</p>
    </div>
  </div>
  <br>

  <p class="text-center">Primero debes postularte, una vez seas seleccionado  deberás pagar 50usd como seña del valor total que será como máximo de <strong>250usd</strong> pero irá disminuyendo conforme consigamos más sponsors.</p>
  <p class="text-center">Si nos ayudas a conseguir más sponsors el valor disminuye para todos. En agosto pagaremos el total restante, esperamos que no sea más de <strong>100usd</strong> aparte de la seña.</p>



  <div class="card border-info">
    <div class="card-body text-info">
      <p class="card-text"> <p>El precio incluye:</p>
      <ul>
        <li>
          <strong>Alojamiento:</strong> En habitaciones compartidas con número variable de personas.</li>
        <li>
          <strong>Alimentación completa</strong>: Desde la cena del jueves 13 de Septiembre hasta el refrigerio del domingo 16 de Septiembre a las 16:00hs.</li>
      </ul></p>
    </div>
  </div>
  <br>

  <p class="text-center">Nos sustentamos con el aporte de nuestros sponsors. Cuantos más consigamos, más barato será! Así que necesitamos tu ayuda
    recomendando o consiguiendo sponsors. Cualquier sugerencia, escribinos a
    <a href="mailto:colombia@agileopen.camp">colombia@agileopen.camp</a>
  </p>

  <br>

  <div style="text-align: center;">
    <%= button_to "Inscríbete ahora", new_user_registration_path, :class => 'btn btn-warning btn-lg btn-block', :method => :get %>
  </div>



</div>