<h2>Inscripción San Saru</h2>
<div>

    <p class="text-center">El Agile Open Camp cuenta con una cantidad de lugares limitados, 80 en este AOC Colombia 2018.
      El evento se llevará a cabo los días 13, 14, 15 y 16 de septiembre en el hotel Recinto Quirama, muy cerca de Medellín.
      Como no queremos ser los organizadores los que seleccionemos quienes participan y quienes no, preferimos un enfoque más horizontal,
      participativo y descentralizado. Así que creamos un método mediante el cuál se hará una elección de postulantes
      distribuida entre todos los participantes al que llamamos método "San Saru"
    <br>

    <div style="text-align: center;">
      <%= button_to "Inscribete", new_user_registration_path, :class => 'btn btn-primary', :method => :get %>
    </div>



      <div>
        <h3>¿Por qué se llama san saru?</h3>
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div style="text-align:center; ">
                            <img style="width: 90%" alt="" class="ut-animate-image animated fadeIn" data-effecttype="image" data-effect="fadeIn" src="http://www.agileopencamp.com.ar/wp-content/uploads/2013/10/sabios-730x301.jpg">
                        </div>
                        <p>San saru es un término japonés que se podría traducir como “Los tres monos sabios” y representado
                            por la imagen anterior. El concepto tiene varias interpretaciones. La que nos gusta y la que
                            nos llevó a elegir este nombre para el método es la siguiente: Cuenta la leyenda que fueron enviados
                            por los dioses para delatar y castigar las malas acciones de los humanos. Pero estos monos tenían
                            algunas limitaciones.
                        </p>
                        <p>
                            <ul>
                                <li>
                                    Kikazaru, el mono sordo, era el encargado de utilizar el sentido de la vista para observar a quienes realizaban malas acciones
                                    y comunicárselo a Mizaru, mediante la voz.
                                </li>
                                <li>Mizaru, era el mono ciego. No necesitaba su sentido de la vista, puesto que tan sólo se encargaba
                                    de transmitir al tercer mono, Iwazaru, los mensajes que le pasaba Kikazaru.
                                </li>
                                <li>
                                    Iwazaru, el tercero de los tres monos, era el mono mudo. Iwazaru escuchaba los mensajes transmitidos por Mizaru para decidir
                                    la pena de los dioses que le caería al desafortunado humano que lo mereciese y observar
                                    que se cumpliese.
                                </li>
                            </ul>
                        </p>

                        <p>Colocados los tres monos en función de sus habilidades y de sus discapacidades, obtenemos un mono
                            que ve, escucha y habla. Los monos juntos y bien organizados pueden alcanzar metas que, sin duda
                            alguna, no lograrían por separado. Existen varias posibilidades de colocar a los tres monos.
                            Todas ellas, excepto una, son situaciones de comunicación fallida, de asistencia colaborativa
                            imposible. La que funciona es: primero el mono sordo, que ve y le explica al segundo lo que ve;
                            el segundo, que no necesita ver, pues solo necesita escuchar lo que le dice el primero y transmitírselo
                            al tercero, que no necesita hablar, sino solo escuchar, ver, decidir lo que mejor convenga y
                            velar por su cumplimiento.
                        </p>

                        <div class="alert alert-info text-center">
                            ESTA INTERPRETACIÓN NOS EVOCA A ACEPTAR DISCAPACIDADES PROPIAS Y AJENAS, COLABORAR, FORMAR EQUIPOS MULTIFUNCIONALES PARA
                            LOGRAR EL ÉXITO. ¿LES SUENA FAMILIAR?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center"> ¿Cómo funciona?</h3>

    <hr class="dark">

    <div class="row">

        <div class="col-sm-12">
            <p>El proceso consta de tres etapas:</p>
            <ul>
                <li style="padding-bottom: 20px">
                    <strong>Postulación: </strong>Los interesados en participar nos cuentan quiénes son, a qué se dedican, su relación
                    con la agilidad, que ideas pueden aportar al evento y qué esperan llevarse completando un formulario.</li>
                <li style="padding-bottom: 20px">
                    <strong>Selección: </strong>Mauro Strione, Camilo Velasquez y Juan Daza seleccionarán, cada uno, a dos postulados
                    para participar del evento. Cada seleccionado deberá elegir otros dos postulantes y asi sucesivamente.
                    Serán informados oportunamente y se les indicará cómo proceder.</li>
                <li style="padding-bottom: 20px">
                    <strong>Inscripción: </strong>Los participantes seleccionados pueden hacer efectiva su inscripción en cualquier
                    momento completando el registro y abonando la entrada al valor logrado a ese momento (ver abajo “Costo
                    de inscripción”). También serán informados oportunamente.</li>
            </ul>
            <div class="alert alert-warning text-center">
                <strong>Importante: </strong>Una vez seleccionado,
                <strong>tu lugar ya está garantizado</strong>.
            </div>
        </div>

        <div class="col-sm-12 text-center">
            <p>Te invitamos a ver este video explicativo del mecanismo de postulación, selección e inscripción</p>
            <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VZdqbjszolk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br>
    <h3 class="text-center"> Costo de inscripción</h3>

    <hr class="dark">

    <div class="alert alert-warning text-center">
        <strong>Importante: </strong>¡Para postularte no hay que pagar nada! El período de pago comienza desde el momento de ser
        elegido hasta el primer día del AOC.</p>
    </div>
    <p class="text-center">Aquí habrán dos momentos importantes: del 13 de Mayo al 13 de Agosto el valor de la entrada será de
        <strong>275USD</strong>. A partir de 13 Agosto, el valor será ajustado según el aporte logrado por sponsors y crowdfunding</p>
    <!--
                                <p class="text-center">Gracias a nuestros sponsors y crowdfunders, el costo de inscripcion en este momento es de <strong>197 U$D</strong> (Dólares americanos) en lugar de los iniciales 300 U$D. ¡Gracias a todos los aportan a este evento!</p>
                                -->
    <p class="text-center">En la medida que se agregue financiamiento (mediante sponsors o crowdfunding) el costo irá descendiendo. Nuestro deseo
        es llegar a los
        <strong>150USD</strong>. Mientras tanto por favor completa tu postulación para participar de la etapa de selección.</p>

    <div class="alert alert-info">
        <p>El precio incluye:</p>

        <ul>
            <li>
                <strong>Alojamiento:</strong> En habitaciones compartidas con número variable de personas.</li>
            <li>
                <strong>Alimentación completa</strong>: Desayuno, breaks, almuerzo y cena desde el jueves 13 de Septiembre en la noche hasta
                el domingo 16 de Septiembre a las 16:00hs.</li>
        </ul>
    </div>

    <p class="text-center">Nos sustentamos con el aporte de nuestros sponsors. Cuantos más consigamos, más barato será! Así que necesitamos tu ayuda
        recomendando o consiguiendo sponsors. Cualquier sugerencia, escribinos a
        <a href="mailto:colombia@agileopen.camp">colombia@agileopen.camp</a>
    </p>


</div>