<%= render 'static_pages/basic_info_v2' %>
<%= render 'static_pages/san_saru_v2' %>
  <p>
    <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">¿Por qué se llama san saru?</button>
  </p>

  <div class="collapse show" id="collapseExample" style="">
    <div class="card card-body">
      <h3>¿Por qué se llama san saru?</h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <div style="text-align:center; ">
                <img style="width: 40%" alt="" class="ut-animate-image animated fadeIn" data-effecttype="image" data-effect="fadeIn" src="http://www.onmarkproductions.com/assets/images/lr-monkeys-hase-1646-edo-TN.JPG">
              </div>
              <p>San saru es un término japonés que se podría traducir como “Los tres monos sabios” y representado por la imagen anterior. El concepto tiene varias interpretaciones. La que nos gusta y la que
                nos llevó a elegir este nombre para el método es la siguiente: Cuenta la leyenda que fueron enviados
                por los dioses para delatar y castigar las malas acciones de los humanos. Pero estos monos tenían
                algunas limitaciones.
              </p>


              <ul>
              <li>
                Kikazaru, el mono sordo, era el encargado de utilizar el sentido de la vista para observar a quienes realizaban malas acciones
                y comunicárselo a Mizaru, mediante la voz.
              </li>
              <li>Mizaru, era el mono ciego. No necesitaba su sentido de la vista, puesto que tan sólo se encargaba
                de transmitir al tercer mono, Iwazaru, los mensajes que le pasaba Kikazaru.
              </li>
              <li>
                Iwazaru, el tercero de los tres monos, era el mono mudo. Iwazaru escuchaba los mensajes transmitidos por Mizaru para decidir
                la pena de los dioses que le caería al desafortunado humano que lo mereciese y observar
                que se cumpliese.
              </li>
            </ul>
              <p></p>

              <p>Colocados los tres monos en función de sus habilidades y de sus discapacidades, obtenemos un mono
                que ve, escucha y habla. Los monos juntos y bien organizados pueden alcanzar metas que, sin duda
                alguna, no lograrían por separado. Existen varias posibilidades de colocar a los tres monos.
                Todas ellas, excepto una, son situaciones de comunicación fallida, de asistencia colaborativa
                imposible. La que funciona es: primero el mono sordo, que ve y le explica al segundo lo que ve;
                el segundo, que no necesita ver, pues solo necesita escuchar lo que le dice el primero y transmitírselo
                al tercero, que no necesita hablar, sino solo escuchar, ver, decidir lo que mejor convenga y
                velar por su cumplimiento.
              </p>

              <div class="card border-info">
                <div class="card-body text-info text-center">
                  ESTA INTERPRETACIÓN NOS EVOCA A ACEPTAR DISCAPACIDADES PROPIAS Y AJENAS, COLABORAR, FORMAR EQUIPOS MULTIFUNCIONALES PARA
                  LOGRAR EL ÉXITO. ¿LES SUENA FAMILIAR?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div>