<h1 class="text-center">Declaración de privacidad</h1>
<br>
<div>
  <h3>SECCIÓN 1 - ¿QUÉ HACEMOS CON LA INFORMACIÓN QUE NOS DAS?</h3>
  <p class="text-justify">Cuando te registras en el Agile Open Camp, como parte del proceso de selección,
    nosotros recolectamos la información personal que nos das tales como nombre, ubicación, teléfono, perfil y correo electrónico. Esta información la utilizamos para poder contactarte y enviarte información acerca del evento.
    Tu teléfono únicamente lo utilizaremos para poder comunicarnos rápidamente contigo a la hora de informarte
    sobre un cambio en el evento.
    Cuando navegas en nuestro sitio también recibimos de manera automática la dirección de protocolo de internet de tu computadora (IP) con el fin de proporcionarnos información que nos ayuda a conocer acerca de su navegador, sistema operativo y país de residencia.
    <br>
  </p>
</div>

<div>
  <h3>SECCIÓN 2 - CONSENTIMIENTO</h3>
  <p class="text-justify">¿Cómo obtienen mi consentimiento? Cuando nos provees tu información personal para completar tu cuenta o tu perfil, o tus parámetros de selección implicamos que aceptas la recolección y uso pora esta razón específica.
    Si te pedimos tu información personal por una razón secundaria, como marketing, o alguna otra, te pediremos directamente tu expreso consentimiento, o te daremos la oportunidad de negarte.

    ¿Cómo puedo anular mi consentimiento? Si luego de haber aceptado cambias de opinión, puedes anular tu consentimiento para que te contactemos, por la recolección, uso o divulgación de tu información, en cualquier momento, contactándonos a <%= aoc_mail %>.
    <br>
  </p>
</div>

<div>
  <h3>SECCIÓN 3 - DIVULGACIÓN</h3>
  <p class="text-justify">Podemos divulgar tu información personal únicamente si se nos requiere por ley o si violas nuestros Términos de Servicio.
    <br>
  </p>
</div>

<div>
  <h3>SECCIÓN 4 - SERVICIOS DE TERCERAS PARTES</h3>
  <p class="text-justify">En general, los proveedores de terceras partes utilizados por nosotros solo recopilarán,
    usarán y divulgarán tu información en la medida que sea necesaria para que les permita desempeñar los servicios que nos proveen.
    Sin embargo, algunos proveedores de servicios de terceros, <%= aoc_venue %>, PayPal y otros procesadores de transacciones de pago,
    tienen sus propias políticas de privacidad. Para estos proveedores, te recomendamos que leas las políticas de privacidad
    para que puedas entender la manera en que tu información personal será manejada.
    En particular, recuerda que algunos proveedores pueden estar ubicados o contar con instalaciones
    que se encuentran en una jurisdicción diferente a ti o nosotros. Así que si deseas proceder con una transacción
    que involucra los servicios de un proveedor a terceros, tu información puede estar sujeta a las leyes de la jurisdicción
    en que se encuentra el proveedor de servicios o sus instalaciones.
    A modo de ejemplo, si te encuentras en Canadá y tu transacción es procesada por una pasarela de pago con sede
    en Estados Unidos, entonces tu información personal utilizada para completar la transacción puede ser sujeto de
    divulgación en virtud de la legislación de Estados Unidos, incluyendo la Ley Patriota. Una vez que abandonas nuestro
    sitio web  o te diriges a un sitio o aplicación de terceros, ya no estás siendo regulados por la presente Política
    de Privacidad o los Términos de Servicio de nuestra página web. Cuando haces clic en enlaces de nuestro sitio,
    puede que seas redirigido fuera de nuestro sitio.
    No somos responsables por las prácticas de privacidad de otros sitios y te recomendamos leer sus normas de privacidad.
    <br>
  </p>
</div>

<div>
  <h3>SECCIÓN 5 - SEGURIDAD</h3>
  <p class="text-justify"> Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores
    prácticas de la industria para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación,
    alteración o destrucción de la misma. Si nos proporcionas información sensible, dicha información es
    encriptada mediante la tecnología Secure Socket Layer (SSL) y se almacena con un cifrado AES-256.
    Aunque ningún método de transmisión a través de Internet o de almacenamiento electrónico es 100% seguro,
    seguimos todos los requisitos de PCI-DSS e implementamos normas adicionales aceptadas por la industria.
    <br>
  </p>
</div>

<div>
  <h3>SECCIÓN 6 - CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD</h3>
  <p class="text-justify"> Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento,
    así que por favor revísala frecuentemente. Cambios y aclaraciones entrarán en vigencia inmediatamente después
    de su publicación en el sitio web. Si hacemos cambios materiales a esta política, notificaremos aquí que ha sido actualizada,
    por lo que cual estás enterado de qué información recopilamos, cómo y bajo qué circunstancias,
    si las hubiere, la utilizamos y/o divulgamos.
    <br>
  </p>
</div>

<div>
  <h3>PREGUNTAS E INFORMACIÓN DE CONTACTO</h3>
  <p class="text-justify"> Si quieres: acceder, corregir, enmendar o borrar cualquier información personal que poseamos sobre ti,
    registrar una queja, o simplemente quieres más información contactanos a <%= aoc_mail %>.
    <br>
  </p>
</div>

