<div class="row align-items-center">
  <div class="col-md-8 offset-md-2">
    <h2>Cuéntanos un poco mas de ti...</h2>
    <p>Los datos que completes aquí serán usados para elegirte como participante del Agile Open Camp.
      Te sugerimos que te tomes tu tiempo y respondas las preguntas conscientemente.</p>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md-12 offset-md-4">

<%= render 'form', profile: @profile %>

<%= link_to 'Back', home_path %>
  </div>
</div>