<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agile_relation.name %>
</p>

<%= link_to 'Edit', edit_agile_relation_path(@agile_relation) %> |
<%= link_to 'Back', agile_relations_path %>
