<div id="postulation-edit" class="postulation-edit">
  <div class="inner-title-element container">
    <h1>Cuéntanos un poco mas de tí...</h1>
    <p>Los datos que completes aquí serán usados para elegirte como participante del Agile Open Camp.<br />
    Te sugerimos que te tomes tu tiempo y respondas las preguntas conscientemente.</p> 
  </div>
  <div class="content-element container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-12">
        <%= render 'form', profile: @profile %>
      </div>
      <div class="col-xs-12 col-md-12 text-center">
        <%= link_to 'Atrás', home_path %>
      </div>
    </div>
  </div>
</div>