<div class="row align-items-center">
  <div class="col-md-8 offset-md-2">
    <h2>Actualizar postulación</h2>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md-12 offset-md-4">

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', home_path %>
  </div>
</div>