<div id="postulation-edition" class="access-section">
  <div class="title-element">
    <p>¿Quieres mejorar tu postulación al <%= aoc_name %> y aumentar tus posibilidades?</p> 
    <h1>Actualizar postulación</h1>
  </div>
  <%= render 'home/edit' %>
</div>