<div id="postulation" class="postulation-info access-section">
  <div class="title-element">
    <p>Recuerda que debes completar tu postulación para tener la posibilidad de asistir al <%= aoc_name %></p> 
    <h1>Tu postulación</h1>
  </div>
  <%= render 'home/new' %>
</div>
