<h4>¡Gracias por inscribirte a Developers for Good Vol. III!, <%= @email %>!</h4>

<p>Puedes confirmar tu email a través del siguiente link:</p>

<p><%= link_to 'Confirmar cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  ¡Es un evento con cupo limitado y ya estás en la lista de postulantes!
</p>
<p>
Sabemos tu interés en colaborar y te agradecemos por querer formar parte. Como te contamos, la selección no la realizamos nosotros, sino que cada postulante que es seleccionado puede elegir otros postulantes hasta llenar todas las vacantes.
</p>
<p>
¡Te estaremos contactando en los próximos días!
</p>
<p>
El equipo de Developers for Good :)
</p>
