<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos ponemos en contacto contigo para notificarte que tu email esta cambiando a: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos ponemos en contacto contigo para notificarte que tu email ha sido cambiado a: <%= @resource.email %>.</p>
<% end %>
