<p>Hola <%= @resource.email %>!</p>

<p>Para actualizar tu password debes hacer click en el siguiente link:</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no hiciste la solicitud por favor ignora este mail.</p>
<p>Tu password no cambiará hasta que accedas al link y crees uno nuevo.</p>
