<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hola <%= @invited.name %>!!!,  <%= @host.name %> te ha invitado al AOC COlombia 2018</p>
<p>
  ¡Felicitaciones! Fuiste seleccionado para participar del <a href="http://colombia.agileopen.camp/">Agile Open Camp Colombia 2018</a>.
  A partir de este momento tu lugar en el evento está asegurado y contamos con tu asistencia.
</p>
<p>
  Estos son los pasos a seguir:

<ol>
  <li>
    <p>
      Recuerda que para garantizar tu asistencia y continuar con el método de selección debes realizar el pago total de la entrada 215 USD o 640.000 COP
      Tienes un plazo de 4 días hábiles para realizar este adelanto, si no lo haces tu cupo será liberado para que la persona que te invito, invite a una persona diferente.
      Por otro lado te pedimos por favor, que si por alguna razón decides no asistir, nos lo hagas saber cuanto antes.
    </p>
    <p>Para realizar el pago tenemos varios métodos disponibles:</p>
    <p>
      <ul>
        <li>
          Transferencia nacional:

            <p>Realizar una transferencia a la cuenta de Comfenalco Antioquia,
              Bancolombia cuenta corriente 00285867940
              nit 890.900.842-6.
            </p>
            <p>
              Basado en una TRM de 3000 COP.
            </p>
          <p>Total a transferir: 640.000 COP</p>
        </li>
        <li>
          Transferencia Internacional:
          <p><a href="https://www.dropbox.com/sh/pt33swh04zqq7jz/AADSeYcuUaj4Hq-hJAULvq0ua?dl=0">Formato SWIFT</a></p>
        </li>
        <li>
          Paypal (solo funciona para pagos internacionales, si vienes de fuera del país solo pagarás un adelanto de 50 dolares y el valor restante el el hotel a tu ingreso):
          <br>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3NDB3RCDKKJJC">
            <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>

      </ul>
    </p>
  </li>
  <li> Una vez hayas realizado el pago, envíanos el comprobante respondiendo a este correo. De esta manera habilitaremos en tu perfil de San Saru dos invitaciones para que selecciones a dos personas inscritas (sujeto a disponibilidad de cupos).</li>
  <li><p>Selecciona a dos personas que quieras que participen en el evento,  te pedimos que en la medida de tus posibilidades,
    hagas tu selección dentro de los próximos 2 días (una vez estés habilitado para seleccionar)
    y que intentes basarla en características que consideres que harán del AOC un evento más rico y no solo en amiguismos
    y/o relaciones personales</p>

    <p>
      <a href="https://youtu.be/trdETdNIl3Q">Aquí</a> encontrarás un instructivo sobre como seleccionar.
    </p>
  </li>
</ol>

</p>

<h3>Nota</h3>

<p>Te recordamos que nuestro cupo de invitaciones es de 100 personas y una vez completado el cupo no podrás invitar a nadie más si no lo hiciste antes.</p>

<p>Ten en cuenta que si pagas el adelanto de 50 USD  y decides no asistir al evento no podremos devolverte el dinero pues con este adelanto estamos reservando el lugar y que el valor final de la inscripción dependerá directamente de la financiación que consigamos. Es por ello que te invitamos a ayudarnos a conseguir sponsors para reducir el costo de inscripción que todos (tú también!) finalmente abonaremos! Te adjuntamos una carta de presentación del evento, para que puedas presentarla a cualquier potencial sponsor.¡Muchas gracias!</p>

<p>Gracias por sumarte al AOC Colombia 2018.</p>

<p>Por último puedes unirte al grupo de <a href="https://t.me/joinchat/AH7y60qTJNpBtA5PDD7EEg">Telegram</a>, donde estaremos todos los participantes del evento.
</p>

<p>¡Nos vemos en Septiembre!</p>

<p>El equipo AOC - Col 2018</p>

</body>
</html>