<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Felicitaciones <%= @invited.name %>!!!,  <%= @host.name %> te ha invitado al AoC Colombia</h1>
<p>
  algunas instrucciones!
</p>
<p>
  y otras mas.
</p>
</body>
</html>