<footer class="footer orange-footer">
  <div class="title-element">
    <p><strong>Importante:</strong> El AOC es un evento sin fines de lucro, todo lo que se recauda se utiliza pagar los costos del evento, incluso los organizadores pagan lo mismo que el resto de participantes.</p>
    <h1>Gracias por querer ser parte :)</h1>
  </div>
  <div class="last-footer">
    <span><%= aoc_name %></span> <a href="mailto:<%= aoc_mail %>"><%= aoc_mail %></a>
  </div>
</footer>